PROFILE=prod
NODE_ENV=production
DB_USER=todo_app_user
DB_PASSWORD=CHANGE_THIS_IN_PRODUCTION
DB_NAME=todo_app_prod
DB_PORT=5432
BACKEND_PORT=3000
LOG_LEVEL=info
FRONTEND_PORT=80
VITE_API_URL=/api/v1
DATABASE_URL=postgresql://todo_app_user:CHANGE_THIS_IN_PRODUCTION@localhost:5432/todo_app_prod
